{% extends 'base.html.twig' %}

{% block title %}
	edit {{category.slug}}-{{category.id}}
{% endblock %}

{% block body %}
	<div class="container row col-6">
		<h1>{{category.name}}</h1>
		{{ form(form) }}
	</div>
	
{% endblock %}